html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #565656;
  background-color: #f6f6f6;
  padding-top: 50px;
}

a {
  color: #282828;
  font-weight: bold;
}

* {
  border-radius: 0 !important;
}

select.form-control {
  -webkit-appearance: none;
}

h1, h2, h3, h4, h6, .navbar-brand {
  text-transform: uppercase;
  color: #282828;
}

strong, table th {
  color: #282828;
}

.alert {
  margin-bottom: 0px;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}

.main-container {
  background-color: #fff;
  padding-top: 10px;
}

.jumbotron {
  background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)); /* , image-url('bg_slide1.png');*/
  background-repeat: no-repeat;
  background-position: top;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  .non-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .btn {
    background-color: transparent;
    color: #e6e6e6;
    &:hover, &:focus, &:active {
      color: #000;
      background-color: #e6e6e6;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }
  }
}

.obj-left {
  margin-right: 10px;
}
